.Frame {
  width: 100%;
  max-height: 100%;
  height: auto;
  /* -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(15,15,15, .6))); */
}
